### CS4102 - Geometric Foundations of Data Analysis I
Prof. GÃ¶tz Pfeiffer<br />
School of Mathematics, Statistics and Applied Mathematics<br />
NUI Galway

#### 1. Least Squares Fitting

# Week 3: A Python Refresher

## 1. My First Python Program

In [2]:
print("Hello, World!")

Hello, World!

## 2. Variables

**Variables** are used to temporarily store **data** (of different **types**).

### Integers

In [3]:
age = 20
print(age) # no quotes around 'age'

20

### Floating Point

In [4]:
price = 19.95
print(price)

19.95

### Strings (or Text)

In [5]:
first_name = "John"  # or 'John'
print(first_name)

John

In [6]:
first_name

'John'

### Boolean (or Truth) Values

In [7]:
is_online = True
print(is_online)

True

#### Exercise 1.
Imagine you are managing a swimming club and need to register a new member named John Smith, 20 years old, as a competitive swimmer. Use appropriate python variables to store this information.

### The `input()` function

An easy way to get a value for a variable from user.

In [10]:
name = input("What is your name? ")
print("Hello", name)

What is your name? John
Hello John

### Type Conversion

Data have types.  Sometimes the type needs to be adjusted.  E.g., the `input()` function always returns a string.
If we want to treat this value as an integer we need to convert it first.

In [15]:
birth_year = input("Enter your year of birth: ")
age = 2021 - int(birth_year)
print("Your age is ", age)

Enter your year of birth: 1980
Your age is  41

In [12]:
birth_year

'2000'

In [14]:
float(birth_year)

2000.0

There are type conversion functions for each data type.

In [16]:
print(int('10'))
print(float('10'))
print(str('10'))
print(bool('10'))

10
10.0
10
True

In [18]:
bool(0)

False

In [19]:
str(10)

'10'

#### Exercise 2.
Using appropriate type conversions, write a short python program that reads in two numbers, first and second, and then computes and prints their sum.

## 3. Strings

In [20]:
course = 'Geometric Foundations of Data Analysis I'

A string is a sequnce of letters.  The total number of letters is the **length** of the string.

In [21]:
len(course)

40

Individual letters have **positions** in the string, starting at $0$

In [22]:
course[0]

'G'

A **slice** (or substring) can be created by indicating the **start** and **stop** positions.

In [24]:
course[0:10]

'Geometric '

Indexing can refer to the end of the string.

In [25]:
course[-1]

'I'

Strings are objects.  This means that there are plenty of methods that can be applied.

In [26]:
course.upper()

'GEOMETRIC FOUNDATIONS OF DATA ANALYSIS I'

In [29]:
course

'Geometric Foundations of Data Analysis I'

## 4. Arithmetic

The usual arithmetic for numbers usually is understood by python.

In [30]:
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)

13
7
30
3.3333333333333335

**Integer division** yields **two values**: the (integer) quotient and the remainder.

In [31]:
print(10 // 3)
print(10 % 3)

3
1

And exponentiation:

In [32]:
print(10 ** 3)

1000

### Augmented Assignment

Each arithmetical operator has a corresponding augmented assignment.

In [33]:
x = 10
x = x + 3
print(x)

13

In [34]:
x = 10
x += 3
print(x)

13

In [35]:
x -= 3
print(x)
x *= 3
print(x)
x /= 3
print(x)

10
30
10.0

### Order of Operations -- BIMDAS

In [36]:
x = 10 + 3 * 2
print(x)

16

### String Arithmetic

In [37]:
print("hello" + " " + "world")  # concatenation

hello world

In [38]:
print(30 * "-") # repetition

------------------------------

In [39]:
print('10' + 3 * '2')

10222

## 5. Comparisons and Logical Operators

Comparisons yield boolean values.  Logical operators combine boolean values.

In [40]:
print(3 > 2)

True

In [42]:
print(3 < 2)
print(3 >= 2)
print(3 >= 2)
print(3 == 2)  #  equality.  Do not confuse with assignment!
print(3 != 2)  #  not equals

False
True
True
False
True

The logical operators are: `and`, `or`, and `not`

In [43]:
price = 25
print(price > 10 and price < 30)

True

In [44]:
print(price < 10 or price > 30)

False

In [45]:
print(not price == 30)

True

## 6. Conditional Statements

An `if` statement in python allows for code to be executed conditionally.
This is an example of a **compound statement** that affects the **flow of control**.
Such a statement typically starts with a **header** that ends in a colon (`:`)
and is followed by a **block** of statements which are all **indented**
by the same number of blanks.

In [47]:
temperature = 21
if temperature > 30:
    print("It's a hot day")
    print("Drink plenty of water")

Adding a second condition:

In [49]:
temperature = 25
if temperature > 30:
    print("It's a hot day")
    print("Drink plenty of water")
if temperature <= 30 and temperature > 20:
    print("It's a nice day")

It's a nice day

Actually, it's not necessary to repeat the test of `temperature` against $30$

In [50]:
temperature = 25
if temperature > 30:
    print("It's a hot day")
    print("Drink plenty of water")
elif temperature > 20:
    print("It's a nice day")

It's a nice day

Adding a third condition:

In [51]:
temperature = 15
if temperature > 30:
    print("It's a hot day")
    print("Drink plenty of water")
elif temperature > 20:
    print("It's a nice day")
elif temperature > 10:
    print("It's getting colder")

It's getting colder

And a default case:

In [52]:
temperature = 5
if temperature > 30:
    print("It's a hot day")
    print("Drink plenty of water")
elif temperature > 20:
    print("It's a nice day")
elif temperature > 10:
    print("It's getting colder")
else:
    print("It's a bit nippy outside")

It's a bit nippy outside

#### Exercise 3.
Write a short python program that inputs a person's weight, then asks whether that weight is measured in
kg or lbs, and converts and outputs the weight in the other unit.
```
Weight: 90
(K)g or (L)bs: k
That's 200.0 lbs
```

## 7. Indefinite Loops

A **loop** repeats the same sequence of statements a number of times.
A `while` loop terminates when a given condition is satisfied.
This is another example of a compound statement that affects the flow of control.

In [53]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [56]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

## 8. Lists

In addition to the **primitive** data types `int` (`1`), `float` (`1.1`), `bool` (`True`) and `str` (`a`),
python has a number of **compound** data types for collections of data.

A **list** is a sequence of data, enclosed in **square brackets** (`[]`) and separated by **commas**.

In [57]:
names = ["John", "Bob", "Tom", "Sam"]
print(names)

['John', 'Bob', 'Tom', 'Sam']

In [58]:
len(names)

4

In [59]:
'Bob' in names

True

In [60]:
names[0]

'John'

In [61]:
names[-1]

'Sam'

In [62]:
names[1:3]

['Bob', 'Tom']

In [63]:
names[0] = "Jon"
names

['Jon', 'Bob', 'Tom', 'Sam']

### List Methods

A list in python is an object.  This means that there are plenty of methods that can be applied.

In [64]:
numbers = [1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

In [65]:
numbers.append(6)
numbers

[1, 2, 3, 4, 5, 6]

In [66]:
numbers.insert(3, 3.5)
numbers

[1, 2, 3, 3.5, 4, 5, 6]

In [67]:
numbers.remove(3)
numbers

[1, 2, 3.5, 4, 5, 6]

In [68]:
numbers.clear()
numbers

[]

## 9. Definite Loops

A `for` loop applies a block of statements to each item in a list.  For this, it needs to introduce a
**loop variable** to refer to the current item.

In [69]:
numbers = [1,2,3,4,5]

In [70]:
for item in numbers:
    print(item)

1
2
3
4
5

The same program can be expressed as a `while` loop, where more of the internal details have to be made explicit.

In [71]:
i = 0
while i < len(numbers):
    print(numbers[i])
    i += 1

1
2
3
4
5

### The `range()` function

In [72]:
numbers = range(5)
numbers

range(0, 5)

A range is an object that represents a list of numbers.

In [73]:
for item in numbers:
    print(item)

0
1
2
3
4

In [74]:
list(numbers)

[0, 1, 2, 3, 4]

In [75]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [76]:
list(range(5,10,2))

[5, 7, 9]

## 10. Missing Pieces

There's a number of python elements, we did't have tine for here.  Maybe later.  This is a short list of the most glaring omissions:

* **Tuples** (like lists, but within parentheses (`()`) and **immutable**).
* **Dictionaries** (like lists, but contained items (values) have **names** (keys) rather than positions).
* **Function Definitions** (easily extend python's range of commands).
* **Comprehension** (to dynamically create lists and dicts).
* ...

## A. Answers to the Exercises

#### 1.

In [ ]:
name = "John Smith"  # separate first from last name?
age = 20
is_competitive = True

#### 2.

In [ ]:
number1 = float(input("Number 1: "))
number2 = float(input("Number 2: "))
print("Sum = " + str(number1 + number2))

#### 3.

In [ ]:
weight = float(input("Your Weight:"))
unit = input("(K)g or (L)bs: ")
if unit.upper() == "K":
    print("That's " + str(weight/0.45) + "lbs.")
elif unit.upper() == "L":
    print("That's " + str(weight * 0.45) + "kg.")
else:
    print("Did you mean 'k' or 'l'?")

## Coefficient of Determination

In [ ]:
import csv

In [ ]:
with open('production.csv') as csvfile:
    rows = list(csv.DictReader(csvfile))

In [ ]:
import numpy as np

In [ ]:
xxx = np.array([row['x'] for row in rows], dtype=float)
yyy = np.array([row['y'] for row in rows], dtype=float)

In [ ]:
X = np.array([[1, x] for x in xxx])
Y = np.array([yyy]).transpose()

In [ ]:
print(X)
print (Y)

In [ ]:
XtX = X.T @ X
XtY = X.T @ Y

In [ ]:
B = np.linalg.inv(XtX) @ XtY
print(B)

In [ ]:
YtY = Y.T @ Y
BtXtY = B.T @ XtY
BtXtY

In [ ]:
n = len(X)
ybar = sum(Y)/n
ybar

In [ ]:
nybar2 = n * ybar**2
nybar2

In [ ]:
SSR = BtXtY - nybar2
SSR

In [ ]:
SSE = YtY - BtXtY
SSE

In [ ]:
SSTO = YtY - nybar2
SSTO